/*Header*/
.Logo{ animation: App-logo-spin infinite 20s linear; height: 20vmin;}
.Header { background-color: #282c34; min-height: 100px; display: flex; flex-direction: column; align-items: center;
justify-content: center; font-size: calc(10px + 2vmin); color: white;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Content*/
.Content{margin: 0 auto; width: 90%;}

/*Footer*/
.Footer{}